.custom2{
  font-size: 15px;
}
.about-photo{
  height:500px ;
  width: 450px;
}
.about-photo:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 500ms ease;
}
.rectangle-img{
  /* background-image: url('../../assets/about.png'); */
  background-repeat: no-repeat;
  background-size:cover;
  background-position: top;

}
@media (max-width: 479px) {
  
  
  .custom2{
    font-size: 15px;
  }
  
  .about-photo{
    height:500px ;
    width: 220px;
  }
}
@media (max-width: 767px) {
  .custom2{
    font-size: 9px;
  }
  
  .about-photo{
    height:500px ;
    width: 380px;
    background-size: cover;
    
}
}
@media (max-width:377px) {
.about-photo{
  width:270px
}
}