.contactUs{
  background-image: url("Ellipse1.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 150px;
}
.contact{
  background-image: url("Ellipse2.png");
  background-repeat: no-repeat;
  background-position:right;
  background-size: 150px;
}

/* @media (max-width: 767px) {
 
  .contactUs {
    background-size: 100px; 
    height: auto; 
  }
} */
/* @media (max-width: 479px) {
 
  .contactUs {
    background-size: 70px; 
    height: auto; 
  }
} */